body {
  background: url("./assets/home/background-home-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  width: 100vw;
  height: 100vh;
}


/* Tab Responsiveness */
@media (max-width: 820px) {
  body {
    background: url("./assets/home/background-home-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
}

/*Mobile Responsiveness*/
@media (max-width: 570px) {
  body {
    background: url("./assets/home/background-home-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
